include LICENSE
include README.md
include requirements.txt
include .env.example
include IMPLEMENTATION_STATUS.md
include todo.md
include plan.md

exclude .git*
exclude .vscode*
exclude docker-compose.yml
exclude Dockerfile
exclude run-docker.sh

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .*.swp
global-exclude .DS_Store 